
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ارسال به کاربران ربات</h2>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <form action="@Url.Action("Send" , "Message" , new { area="Admin"})" method="post">
                <textarea class="form-control" placeholder="متن پیام را بنویسید " name="text" rows="10" style="width:100%;"></textarea>
                <button class="btn btn-success">ارسال <i class="glyphicon glyphicon-send"></i> </button>
            </form>
        </div>
    </div>
</div>



