@{
    ViewBag.Title = "About";
}
<!doctype html>
<html>
    <head>

    </head>
    <body>
        <script>
var file_path="https://bot.nabzearz.ir/home/widget" ;var fileref=document.createElement('script');fileref.setAttribute("type","text/javascript");
fileref.setAttribute("src",file_path);fileref.setAttribute("defer","defer");document.getElementsByTagName("head")[0].appendChild(fileref);</script><div id="NabzeArz-data"></div>
    </body>
</html>
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>